<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ "/assets/ico/favicon.png" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/plugins/share/needsharebutton.min.css" | prepend: site.baseurl }}">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/patreon.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://cdn.clarkhacks.com/swal/sweet-alert.css">
        <!--Facebook OG Tags-->
        <meta property="og:title" content="Sheldon The Turtle!" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.sheldontheturtle.com" />
        <meta property="og:image" content="https://www.sheldontheturtle.com/assets/img/bg.png" />
        <!-- End OG Tags -->
        <!-- Twitter Card Tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="https://www.sheldontheturtle.com">
        <meta name="twitter:title" content="Sheldon The Turtle">
        <meta name="twitter:description" content="Check out Sheldon's funny and adorable life now at SheldonTheTurtle.com! Sheldon thanks you in advanced">
        <meta name="twitter:image" content="https://www.sheldontheturtle.com/assets/img/bg.png">
        <!-- End Card Tags -->
    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
